<include file="Public:script-load-page"/>
<title>图书借阅系统</title>
<style>
    .hide{display: none}
</style>
<body ontouchstart>
<div class="content">
<div class="header" style="z-index:5;">
    <div class="left_t header_back">

    </div>
    <div class="middle_t site_20">图书详情</div>
    <div class="right_t">
        <if condition="$user_type eq 2">
        <span class="rigth" id="manage">
            管理
        </span>
        </if>
        <if condition="$user_type eq 1">

        <span class="rigth <if condition='$is_favorite eq 1'> hide </if>" id="favorite">
            收藏
        </span>


            <span class="rigth <if condition='$is_favorite eq 0'> hide</if>" id="cancel_favorite">
            已收藏
        </span>

        </if>
    </div>
</div>
    <div class="book_list" style="position: relative">
<div class="weui_panel weui_panel_access">
<div class="weui_panel_bd">
    <a href="javascript:;" class="weui_media_box weui_media_appmsg">
        <div class="weui_media_hd " style="width: 25vw;height: 21vh">
            <img class="book_listimg" src="{$info.book_pic}" alt="">
        </div>
        <div class="weui_media_bd">
            <b class="weui_media_desc rigthheight">书名:{$info.book_name}</b>
            <p class="weui_media_desc rigthheight">作者: {$info.book_author}</p>
            <p class="weui_media_desc rigthheight">出版社:{$info.book_publisher}</p>
            <p class="weui_media_desc rigthheight">出版日期:{$info.book_pubdate}</p>
            <p class="weui_media_desc rigthheight">定价:{$info.book_price}</p>
            <p class="weui_media_desc rigthheight">库存:{$info.book_num}</p>
        </div>
    </a>
</div>
</div>
    </div>
  <div class="content_description">
      <dl>
          <dt>内容简介</dt>
          <dd class="nr"><p >
              {$info.book_content}
              </p></dd>
          <a  onclick="showall('nr')" class="nr">查看全部>>></a>
      </dl>
      <if condition="!empty($comments)">
          <div class="weui_panel">
              <div class="weui_panel_hd">书友评论</div>
              <div class="weui_panel_bd">
                  <volist name="comments" id="vo">
                      <div class="weui_media_box weui_media_text">
                          <h4 class="weui_media_title">{$vo.full_name}</h4>
                          <p class="weui_media_desc">{$vo.content}</p>
                          <ul class="weui_media_info">
                              <li class="weui_media_info_meta">{$vo.addtime}</li>
                              <!--<li class="weui_media_info_meta weui_media_info_meta_extra">其它信息</li>-->
                          </ul>
                      </div>
                  </volist>
              </div>
          </div>
      </if>
  </div>
    <script>
        function GetRTime(time,num) {
            setInterval(function(){
                var EndTime = new Date(time);
                var NowTime = new Date();
                var t = EndTime.getTime() - NowTime.getTime();
                //alert(t);
                var d = Math.floor(t / 1000 / 60 / 60 / 24);
                var h = Math.floor(t / 1000 / 60 / 60 % 24);
                var m = Math.floor(t / 1000 / 60 % 60);
                var s = Math.floor(t / 1000 % 60);

                if(t>0){
                    var _html='「还书时间」'+'<span id="t_d">'+d+'天</span><span id="t_h">'+h+'时</span><span id="t_m">'+m+'分</span><span id="t_s">'+s+'秒</span>';
                    document.getElementById("t_d"+num).innerHTML =_html;
                }
                else {
                    var t2 = NowTime.getTime()- EndTime.getTime() ;
                    //alert(t);
                    var d2 = Math.floor(t2 / 1000 / 60 / 60 / 24);
                    var h2 = Math.floor(t2 / 1000 / 60 / 60 % 24);
                    var m2 = Math.floor(t2 / 1000 / 60 % 60);
                    var s2 = Math.floor(t2 / 1000 % 60);
                    var _html='「已逾期」'+'<span id="t_d">'+d2+'天</span><span id="t_h">'+h2+'时</span><span id="t_m">'+m2+'分</span><span id="t_s">'+s2+'秒</span>';
                    document.getElementById("t_d"+num).innerHTML =_html;
                }


                // document.getElementById("t_h").innerHTML = h + "时";
                // document.getElementById("t_m").innerHTML = m + "分";
                // document.getElementById("t_s").innerHTML = s + "秒";
            },1000)

        }
    </script>
    <if condition="$user_type eq 1">
    <div class="content_bottom">
        <if condition="$is_order eq 1">
            <switch name="order_one['status']">
            <case value="0">
                <a href="javascript:;" class="weui_btn weui_btn_primary">申请中</a>
            </case>
            <case value="1">
                <a href="javascript:get_book(2);" class="weui_btn weui_btn_primary">取书</a>
            </case>
             <case value="2">
                 <a  href="javascript:check_time(3);" class="weui_btn weui_btn_mini weui_btn_default">
                     还书
                 </a>
                 <a id="t_d1" href="javascript:;" class="weui_btn weui_btn_mini weui_btn_primary">
                    <script>GetRTime('{$order_one.back_time2}',1);</script>
                     </a>
                </case>
        </switch>
        </if>
        <if condition="$is_order eq 0">
            <switch name="info['book_num']">
                <case value="0">
                    <a href="javascript:order_book(2);" class="weui_btn weui_btn_primary">预约</a>
                </case>
            <default/>
                <a href="javascript:order_book(1);" class="weui_btn weui_btn_primary">借书</a>
            </switch>
        </if>
    </div>
    </if>
</div>
<div id="full" class='weui-popup-container'>
    <div class="weui-popup-overlay"></div>
    <div class="weui-popup-modal">
        <form  name="form1" id="form1" enctype="multipart/form-data" action="{:U('public/ajax_request')}" method="post">
            <article class="weui_article">

                <div class="weui_cells weui_cells_form">

                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">库存</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请输入库存" name="book_num" value="{$info.book_num}">
                        </div>
                    </div>
                </div>
                <div class="weui_cell weui_cell_select">
                    <div class="weui_cell_hd" style="padding-left: 15px"><label class="weui_label">分类</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" name="book_type">
                            <option <if condition="$info[book_type] eq 0">selected="selected" </if> value="0">未分类</option>
                           <volist name="terms" id="vo">
                               <option <if condition="$info[book_type] eq $vo[id]">selected="selected" </if>  value="{$vo.id}">{$vo.name}</option>
                           </volist>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="id" value="{$info['id']}">
                <input type="hidden" name="table_name" value="details">
                <section style="margin-top: 10vh">
                    <a href="javascript:;" class="weui_btn weui_btn_primary" id="save_info">保存</a>
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary close-popup">关闭</a>
                </section>

            </article>
        </form>
    </div>
</div>
<script>
    function order_book(order_type) {
        var handle='';
        order_type==1? handle='借阅':handle='预约';
        var id="{$info['id']}";
        var user_id="{$id}";
        var data={book_id:id,user_id:user_id,order_type:order_type};
        $.post("{:U('bookadmin/order_book')}",data,function (data) {
            if (data.status==1){
                $.toast(handle+"成功",function () {
                    location.href=location.href;
                });
            }
            else {
                $.toast(handle+"失败","forbidden");
            }
        })
    }
    function get_book(status) {
        var id="{$order_one['id']}";
        $.post("{:U('bookadmin/get_book')}",{status:status,id:id},function (data) {
            if (data.status==1){
                $.toast("取书成功",function () {
                    location.href=location.href;
                });
            }
            if (data.status==-1){
                $.alert(data.info,function () {
                    location.href=location.href;
                });
            }
            if (data.status==0) {
                $.toast("取书失败","forbidden");
                location.href=location.href;
            }
        })
    }
    function check_time(status) {
        var back_time="{$order_one['back_time']}";
        $.post("{:U('bookadmin/check_time')}",{back_time:back_time},function (data) {
            if (data.status==1){
               back_book(status)
            }
            else {
               $.confirm("因为您已逾期"+data.over_time+"天,此次还书需要花费"+data.price+"元",function () {
                   $.modal({
                       title: "支付",
                       text: "选择支付方式",
                       buttons: [
                           { text: "支付宝", onClick: function(){ $.alert("你选择了支付宝",function () {
                               back_book(status);
                           }); } },
                           { text: "微信", onClick: function(){ $.alert("你选择了微信支付",function () {
                               back_book(status);
                           }); } },
                           { text: "网银", onClick: function(){ $.alert("你选择了微信支付",function () {
                               back_book(status);
                           }); } },
                           { text: "取消", className: "default"},
                       ]
                   });

               })
            }
        })
    }
    function back_book(status) {
        var id="{$order_one['id']}";
        var book_id="{$info.id}";
        $.post("{:U('bookadmin/back_book')}",{book_id:book_id,status:status,id:id},function (data) {
            if (data.status==1){
                $.toast("还书成功",function () {
                    location.href=location.href;
                });
            }
            else {
                $.toast("还书失败","forbidden");
                location.href=location.href;
            }
        })
    }
    $(document).on("click", "#manage", function() {
        var re="{$handle['result']}";
        var id="{$info['id']}";
        $.actions({
            title: "选择操作",
            onClose: function() {
            },
            actions: [
                {
                    text: "{$handle['title']}",
                    className: "color-primary",
                    onClick: function() {
                        $.post("{:U('public/ajax_request')}",{method:"save",table_name:"details",status:re,id:id},function (data) {
                            if (data.status==1){
                                $.toast("{$handle['title']}成功",function () {
                                    location.href=location.href;
                                });
                            }
                            else {
                                $.toast("{$handle['title']}失败","forbidden");
                            }
                        })
                    }
                },
                {
                    text: "编辑",
                    className: "color-warning",
                    onClick: function() {
                        $("#full").addClass("weui-popup-container-visible");
                        $("#full").show();

                    }
                },
                {
                    text: "删除",
                    className: 'color-danger',
                    onClick: function() {
                        $.confirm("删除后将无法恢复，确定删除吗？",function () {
                            $.post("{:U('public/ajax_request')}",{method:"delete",table_name:"details",status:0,id:id},function (data) {
                                if (data.status==1){
                                    $.toast("删除成功",function () {
                                        location.href="{$url}";
                                    });
                                }
                                else {
                                    $.toast("删除失败","forbidden");
                                }
                            })

                        })
                    }
                }
            ]
        });
    }).on("open", ".weui-popup-modal", function() {
    }).on("close", ".weui-popup-modal", function() {
    }).on("click","#save_info",function () {
        if (parseInt($("input[name='book_num']").val()) <0){
            $.toast("库存数不能小于0","forbidden");
            return false;
        }
        $("#form1").ajaxSubmit({

            type:"post",
            dataType:"json",
            data:{method:"save"},
            success:function (data) {
                if (data.status==1){
                    $.toast("修改成功",function () {
                        location.href=location.href;
                    });
                }
                else{
                    $.toast("修改失败","forbidden");
                }
            }
        });
    }).on("click","#favorite",function () {

        var uid="{$id}";
        var objectid="{$info.id}";
        $.post("{:U('public/ajax_request')}",{method:"add",table_name:"favorites",uid:uid,object_id:objectid},function (data) {
            if (data.status==1){
                $.toast("收藏成功",function () {
                    location.href=location.href;
                });
            }
            else {
                $.toast("收藏失败","forbidden");
            }
        })
    }).on("click","#cancel_favorite",function () {

        var id="{$favorite['id']}";
        $.post("{:U('public/ajax_request')}",{method:"save",table_name:"favorites",id:id,status:2},function (data) {
            if (data.status==1){
                $.toast("取消收藏失败",function () {
                    location.href=location.href;
                });
            }
            else {
                $.toast("取消收藏失败","forbidden");
            }
        })
    });

    function showall(p) {
        $("a."+p).remove();
        $("dd."+p).css("height",'auto');
    }
    $(".header_back").click(function () {
        window.history.back();
    })
</script>
</body>
</html>