<include file="Public:script-load-page"/>
    <title>图书订阅管理系统</title>
<body ontouchstart style="background: white">

<div class="header" style="z-index:5;">
    <a href="{:U('Libraryadmin/library_information',array('type'=>$type))}"><div class="left_t header_back">

    </div></a>
    <div class="middle_t site_20">{$title}</div>
    <div class="right_t">
        <if condition="$user_type eq 2">
        <span class="rigth" id="manage">
            管理
        </span>
        </if>
    </div>
</div>
<div class="content_normal">

        <article class="weui_article">
                <section>
                    <img src="{$info.img}" alt="">
                    <h3>{$info.title}</h3>
                    <p>{$info.content}</p>
                </section>
        </article>
</div>

<div id="full" class='weui-popup-container'>
    <div class="weui-popup-overlay"></div>
    <div class="weui-popup-modal">
        <form  name="form1" id="form1" enctype="multipart/form-data" action="{:U('public/ajax_request')}" method="post">
        <article class="weui_article">
            <div class="weui_cell_hd"><label class="weui_label">标题</label></div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" placeholder="请输入标题" name="title" value="{$info['title']}">
                    </div>
                </div>
                </div>
            <div class="weui_cell_hd"><label class="weui_label">内容</label></div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <textarea class="weui_textarea" placeholder="请输入内容" name="content" rows="6">{$info['content']}</textarea>
                    </div>
                </div>
            </div>

            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div class="weui_uploader">
                            <div class="weui_uploader_hd weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">图片上传</div>
                            </div>
                            <div class="weui_uploader_bd">
                                <ul class="weui_uploader_files">
                                    <li class="weui_uploader_file" style="margin-top:10px;width: 29%" >
                                        <img  style="height: 60px;width:60px"src="{$info.img}" >
                                    </li>
                                    <li class="weui_uploader_file" style="margin-top:10px;width: 29%" id="image"></li>
                                    <li class="weui_uploader_file" style="margin-top:10px;width: 29%">
                                        <div class="weui_uploader_input_wrp" style="float: left">
                                            <input class="weui_uploader_input" type="file"  name="img" id="img">
                                        </div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="id" value="{$info['id']}">
            <input type="hidden" name="table_name" value="news">
            <section>
                <a href="javascript:;" class="weui_btn weui_btn_primary" id="save_info">保存</a>
                <a href="javascript:;" class="weui_btn weui_btn_plain_primary close-popup">关闭</a>
            </section>

        </article>
        </form>
    </div>
    </div>
<script>

    //图片显示插件
    $.imageFileVisible({
        wrapSelector: "#image",
        fileSelector: "#img",
        width: 60,
        height: 60,
        num:1
    });
    $(document).on("click", "#manage", function() {
        var re="{$handle['result']}";
        var id="{$info['id']}";
        $.actions({
            title: "选择操作",
            onClose: function() {
            },
            actions: [
                {
                    text: "{$handle['title']}",
                    className: "color-primary",
                    onClick: function() {
                        $.post("{:U('public/ajax_request')}",{method:"save",table_name:"news",is_top:re,id:id},function (data) {
                            if (data.status==1){
                                $.toast("{$handle['title']}成功",function () {
                                    location.href=location.href;
                                });
                            }
                            else {
                                $.toast("{$handle['title']}失败","forbidden");
                            }
                        })
                    }
                },
                {
                    text: "编辑",
                    className: "color-warning",
                    onClick: function() {
                        $("#full").addClass("weui-popup-container-visible");
                        $("#full").show();
                    }
                },
                {
                    text: "删除",
                    className: 'color-danger',
                    onClick: function() {
                        $.post("{:U('public/ajax_request')}",{method:"save",table_name:"news",status:0,id:id},function (data) {
                            if (data.status==1){
                                $.toast("删除成功",function () {
                                    location.href="{$url}";
                                });
                            }
                            else {
                                $.toast("删除失败","forbidden");
                            }
                        })
                    }
                }
            ]
        });
    }).on("open", ".weui-popup-modal", function() {
    }).on("close", ".weui-popup-modal", function() {
    }).on("click","#save_info",function () {
        $("#form1").ajaxSubmit({
            type:"post",
            dataType:"json",
            success:function (data) {
                    if (data.status==1){
                        $.toast("修改成功",function () {
                            location.href=location.href;
                        });
                    }
                    else{
                        $.toast("修改失败","forbidden");
                    }
            }
        });
    });
</script>
</body>
</html>