<div class="footer">
    <ul>
        <a href="{:U('Index/index')}" <if condition="$foot eq 1"> class="on"</if>><li><img src="http://wx.365xuet.com/Public/Weixin/images/footer-1-off.png"><img src="http://wx.365xuet.com/Public/Weixin/images/footer-1-on.png"><br><span>图书展示</span></li></a>
        <a href="{:U('Libraryadmin/index')}" <if condition="$foot eq 2"> class="on"</if>><li><img src="http://wx.365xuet.com/Public/Weixin/images/footer-2-off.png"><img src="http://wx.365xuet.com/Public/Weixin/images/footer-2-on.png"><br><span>分馆信息</span></li></a>
        <a href="{:U('Mycenter/index')}" <if condition="$foot eq 3"> class="on"</if>><li><img src="http://wx.365xuet.com/Public/Weixin/images/footer-4-off.png"><img src="http://wx.365xuet.com/Public/Weixin/images/footer-4-on.png"><br><span>我的</span></li></a>
    </ul>
</div>
<script>
    $(function () {
        check_login()
    });
    function check_login(type) {
        $.post("{:U('Public/is_login')}",{},function (data) {
                if (data.status==0){
                    login();
                }else {
                    if(type==1){
                        if (data.user.user_type==2){
                        window.location.href = "{:U('Libraryadmin/index')}"}
                        else {
                            $.confirm("请以管理员身份登录", function(){
                                login();
                            },function () {
                                //取消操作
                            })
                        }
                    }
                    if(type==2){
                        window.location.href = "{:U('Mycenter/index')}"
                    }
                }
        },"json");
    }
    function login(){
        var url = window.location.href;
        window.location.href = "__ROOT__/Home/Public/login?url=" + url;
    }
//    $(".footer ul a").click(function(){
//        $(".footer ul a").find("li img:odd").hide();
//        $(".footer ul a").find("li img:even").show();
//        $(this).find("img:eq(0)").hide();
//        $(this).find("img:eq(1)").show();
//    });
</script>