<include file="Public:script-load-page"/>
<title>图书借阅系统</title>
<body ontouchstart>
<div class="content">
<div class="header" style="z-index:5;">
    <a href="{$url}"><div class="left_t header_back">

    </div> </a>
    <div class="middle_t site_20">个人设置</div>
    <div class="right_t">
        <span class="rigth"></span>
    </div>
</div>
    <div class="person_center_top" style="background: white">
        <form action="{:U('setting')}" method="post" name="form1" id="form1">
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input name="user_name" class="weui_input" type="text" placeholder="请输入姓名" value="{$user_name}">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">安全码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input name="user_secret" class="weui_input" type="text" placeholder="请输入密保(找回密码用)" value="{$user_secret}">
                </div>
            </div>
            <div class="weui_cell weui_cell_switch">
                <div class="weui_cell_hd weui_cell_primary">接受通知</div>
                <div class="weui_cell_ft">
                    <input class="weui_switch" type="checkbox">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">生日</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input name="birthday" class="weui_input" type="date" value="{$birthday}">
                </div>
            </div>
            <div class="weui_cell weui_cell_select">
                <div class="weui_cell_hd"><label style="padding-left: 15px; " for="" class="weui_label">性别</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select name="sex" class="weui_select" >
                        <option <if condition="$sex eq 0"> selected="selected"</if> value="0">保密</option>
                        <option  <if condition="$sex eq 1"> selected="selected"</if> value="1">男</option>
                        <option  <if condition="$sex eq 2"> selected="selected"</if> value="2">女</option>
                    </select>
                </div>
            </div>
            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary" href="javascript:" id="showTooltips">保存</a>
            </div>
        </div>
        </form>
    </div>
</div>
<script>
    $("#showTooltips").click(function() {
        var code = $('input[name="user_secret"]').val();
        if (!code || !/\d{6}/.test(code)) {
            $.toptip('请输入六位密保验证码');
            return false;
        }
        $.ajax({
            type:"POST",
            url:$("#form1").attr("action"),
            data:$("#form1").serialize(),
            dataType:"json",
            beforeSend:function () {
           $.showLoading("保存中")
        },
            success:function (data) {
                $.hideLoading();
                if (data.status==1)
                $.toptip('保存成功', 'success');
            },
            error:function () {
                $.hideLoading();
                $.toptip('系统错误！');
            }
        });
    });
</script>
</body>
</html>